{%extends "base.html"%}
{%block title%}关于本站{%endblock%}
{%block extraheader%}{%endblock%}
{%block content%}
    <div class="offset2" style="padding:15px 0 30px 0;">
        <ul class="nav nav-tabs" style="font-size:18px;">
            <li class="active"><a href='/about/'><span>关于本站</span></a></li>
            <li><a href='/others/'><span>作者及其他</span></a></li>
        </ul>
    </div>
    <div ></div>


    <div class="span2 offset2">
    
        <p style="font-size:20px;font-weight:bold;padding:20px 0">51dayin是什么？</p>
    </div>
    <div class="span6" style="font-size:18px;text-weight:normal;color:#5E5E5E;padding:20px 0">
        <p>51dayin是一项 <strong>免费的</strong> 提供 <strong>预约打印</strong> 的服务。&nbsp;你只需：</p>
        
        <div ></div>
        <br/>
        <strong><p>注册 — 登陆 — 选择打印社 — 选择打印格式 — 预约提取时间 — 上传打印资料 — 上门提取</p><!--做成图片--></strong>
        <div ></div>
        <br/>
        <p>省下排队的时间内去约会吧~</p>


    </div>
    <div ></div>


    <div class="span2 offset2">
        <p style="font-size:20px;font-weight:bold;padding:20px 0">打印如何付费?</p>

    </div>
    <div class="span6 "style="font-size:18px;text-weight:normal;color:#5E5E5E;padding:20px 0">
        <p>我们采取充值消费的形式。每次打印都在你的账户余额中扣除，如果余额不够，会先变为负数，你去提取文件的时候再充值。</p>

    </div>
    <div ></div>

    

    <div class="span2 offset2">
        <p style="font-size:20px;font-weight:bold;padding:20px 0">关于注册</p>

    </div>
    <div class="span6"style="font-size:18px;text-weight:normal;color:#5E5E5E;padding:20px 0">
        
        <p>测试阶段只限于<strong>吉大</strong>的两家打印社：<strong>经C泰和书屋内的打印社</strong>和<strong>文二男孩女孩超市内打印社</strong>。你需要去打印社购买一张充值卡。充值卡有不同的面额，5元，10元，20元，50元，100元。注册时填上卡号和卡密，注册成功后你的账户中便有相应的余额。充值卡可以扔掉了哦。</p>
        <div ></div>
        <br/>
        <strong><p>yoyo，开始你的预约打印之旅吧~嘿喂够~</p></strong>
    </div>
    <div ></div>



<!--We simplifies your life.-->




{% if not user.is_authenticated %}
    <div class="span4 offset8">
        <a href='/join/' class=btn-primary>注册</a>
        <br/><br/>
    </div>
    <div ></div>
{%endif%}
{%endblock%}
