{% extends "base.html" %}
{% block title%}预约打印{%endblock%}

{%block rightheader%}
<div class="span5 offset1">
	<ul class="nav nav-pills" style="font-size:18px">
        <li class="{%if active == 'file'%}active{%endif%}"><a href='/file/'>预约打印</a></li>
        <li class="{%if active == 'tasklist'%}active{%endif%}"><a href='/user/tasklist/'>任务列表</a></li>
        <li class="{%if active == 'settings'%}active{%endif%}"><a href='/settings/profile/'>账户管理</a></li>
        <li class="{%if active == 'contact'%}active{%endif%}"><a href='/contact/'>吐槽</a></li>
        <li><a href='/logout/'>退出</a></li>
	</ul>
</div>
{%endblock%}

{%block extraheadertitle%}
预约打印，仅需4步
{%endblock%}

{%block content%}
<!--选择打印社-->
<div class="offset2">
    
    <form action="." class="form-horizontal" method="POST" style="padding:20px 0 0 0;">{%csrf_token%}
        
        <fieldset>
            <div id="legend" class="">
                <legend class="">选择打印社
                    <div class="pull-right" style="color:#DFDFDF;font-size:20px">
                        step 1 of 4
                    </div>
                </legend>
            </div>
            
            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <select name="printhouse" class="input-xlarge">
                        <option value="经C">经C泰和书屋旁打印社</option>
                    </select>{{form.printhouse.errors.0}}
                </div>
            </div>
            
        </fieldset>
        <fieldset>
            <div id="legend" class="">
                <legend class="">选择上门提取文件的时间
                    <div class="pull-right" style="color:#DFDFDF;font-size:20px">
                        step 2 of 4
                    </div>
                </legend>
            </div>
            <span>我会在&nbsp;</span>
            <select  name="day" class="input-small">
                <option value="0">当日</option>
                <option value="1">次日</option>
            </select>{{form.day.errors.0}}
            <span>&nbsp;的&nbsp;</span>
            <select  name="hour" class="input-small">
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
            </select>{{form.hour.errors.0}}
            <span>&nbsp;时&nbsp;</span>
            <label class="control-label"></label>
            <select  name="minute" class="input-small">
                <option value="00">00</option>
                <option value="05">05</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
            </select>{{form.minute.errors.0}}
            <span>&nbsp;分&nbsp;后到打印社提取</span>
        </fieldset>
        <div class="offset1" style="padding:20px 0px 30px 40px;">
            <span>打印社营业时间 7:00~23:00</span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn-primary">下一步</button>
        </div>
    </form>
</div>

{% endblock %}
