{%extends "base.html"%}
{%block title%}作者及其他{%endblock%}
{%block extraheader%}{%endblock%}
{%block content%}
<div class="offset2"style="padding:15px 0 30px 0;">
    <ul class="nav nav-tabs" style="font-size:18px">
        <li><a href='/about/'><span>关于本站</span></a></li>
        <li class="active"><a href='/others/'><span>作者及其他</span></a></li>
    </ul>
</div>
<div class="span8 offset2" style="font-size:18px;color:#515151;line-height:200%">
        <p><strong>51dayin team </strong>现在有两位成员：<a href="http://www.renren.com/256476294/profile">lulu </a>和<a href="http://www.renren.com/247328628/profile"> vince</a></p>
            
        <p>本站的idea是由lulu在打印社排队排到抓狂的时候想到的。</p>
        <p>应该有很多人都想到了呢，只是大牛们都觉得没有挑战性所以没去做吧- -</p>

        <p>为了方便打印社工作人员操作，vince同学用java写了一个客户端。</p>
        <p>我们希望51dayin不仅限于吉大使用，如果有其他学校的同学想把51dayin推广到自己学校，我们是很欢迎的~~</p>
    <br/>
    <p>请联系我们:</p>
    <p>lulu@51dayin.net</p>
    <p>vince@51dayin.net</p>
</div>
{%endblock%}
