{%extends "base.html"%}
{%block title%}关于本站{%endblock%}
{%block extraheader%}{%endblock%}
{%block content%}
    <div class="offset2" style="padding:15px 0 30px 0;">
        <ul class="nav nav-tabs" style="font-size:18px;">
            <li class="active"><a href='#site' data-toggle="tab">关于本站</a></li>
            <li><a href='#members' data-toggle="tab">作者及其他</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="site" class="tab-pane active">
            <div class="span2 offset2">
                <p style="font-size:20px;font-weight:bold;padding:20px 0">51dayin是什么？</p>
            </div>
            <div class="span6" style="font-size:18px;text-weight:normal;color:#5E5E5E;padding:20px 0">
                <p>51dayin是一项 <strong>免费的</strong> 提供 <strong>预约打印</strong> 的服务。&nbsp;你只需：</p>
                
                <div ></div>
                <br/>
                <strong><p>注册 — 登陆 — 选择打印社与提取时间 — 选择打印格式 — 上传打印资料 — 上门提取</p></strong>
                <div ></div>
                <br/>
            </div>
            <div ></div>
            
            <div class="span2 offset2">
                <p style="font-size:20px;font-weight:bold;padding:20px 0">打印如何付费?</p>
                
            </div>
            <div class="span6 "style="font-size:18px;text-weight:normal;color:#5E5E5E;padding:20px 0">
                <p>请在去打印社提取文件时直接向打印社付费，我们只提供预约服务，是完全免费的。</p>
            </div>
            <div ></div>
            
            <div class="span2 offset2">
                <p style="font-size:20px;font-weight:bold;padding:20px 0">关于注册</p>
            </div>
            <div class="span6"style="font-size:18px;text-weight:normal;color:#5E5E5E;padding:20px 0">
                <p>此项服务目前只对吉大南区的教师和学生开放，为了验证身份，在注册时需要您填写本人的<strong> 吉大邮箱地址 </strong>和<strong> 教师工作证号或学生教学号 </strong>。</p>
                <div ></div>
                <br/>
                <strong><p>yoyo，开始预约打印之旅吧~</p></strong>
            </div>
        </div>
        <div id="members" class="tab-pane">
            <div class="span8 offset2" style="font-size:18px;color:#515151;line-height:200%">
                <p><strong>51dayin team </strong>现在有两位成员：<a href="http://www.renren.com/256476294/profile">lulu </a>和<a href="http://www.renren.com/247328628/profile"> vince</a></p>
                <p>本站的idea是由lulu在打印社排队排到抓狂的时候想到的。</p>
                <p>应该有很多人都想到了呢，只是大牛们都觉得没有挑战性所以没去做吧- -</p>
                <p>为了方便打印社工作人员操作，vince同学用java写了一个客户端。</p>
                <p>我们希望51dayin不仅限于吉大使用，如果有其他学校的同学想把51dayin推广到自己学校，我们是很欢迎的~~</p>
                <br/>
                <p>请联系我们:</p>
                <p>lulu@51dayin.net</p>
                <p>vince@51dayin.net</p>
            </div>
        </div>
    </div>
    {% if not user.is_authenticated %}
        <div class="span4 offset8">
            <a href='/join/' class=btn-primary>注册</a>
            <br/><br/>
        </div>
    {%endif%}
{%endblock%}