{% extends "base.html" %}

{% block title %}我要打印{% endblock %}
{%block logo%}<div class="span3 offset2">{%endblock%}
{%block extraheader%}{%endblock%}

{% block content %}
<div class="container">
        <div class="span7 offset3">
                <p class="banner1" style="line-height:150%;padding:20px 0 0 0;">打印社排长龙?</p>
                <p class="banner1" style="line-height:150%;padding:0 0 20px 0;">快来&nbsp;<span class="banner2">51dayin</span>
                </p>
        </div>
</div>
<div class="constainer">
            <div class="span3 offset2">
                <a href="/login/" class="btn-primary">登录</a>
            </div>
            <div class="span3 offset3">
                <a href="/join/" class="btn-primary">注册</a>
	    </div>
</div>
        <div ></div>
        <div ></div>
        <div ></div>
        <div ></div>
        <div ></div>
        <div ></div>
        <div ></div>
        <div ></div>
        <div ></div>
        <div ></div>
        <div ></div>

</div>
{% endblock %}


